@import 'bourbon/bourbon';
@import '_mixins';
@import url(../reset.css);

* {
  @include box-sizing(border-box);
}

html {
  font-size : 62.5%; // Sert for 10 base
}

body {
  //font-family : $georgia;
  //font-family : $lucida-grande;
  font-family : $helvetica;

  @include font-size(16);
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

@import '_typography';

/* Grid */

@media only screen and (min-width:768px ){

  .navigation,
  .content {
    display:block;
    float:left;
    margin-right:0%;
    margin-left:0;
  }

  .navigation {
    width : 20%;
  }
  .content {
    margin-left : 2%;
    width : 78%;
  }
}

/* Theme */

/* Navigation */

@import '_navigation';



/* Graph */

.graph{
  img, object {
    max-width : 100%;
  }
}

/* Table */

@import '_table';



